<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Upload Tutorial</title>
</head>

<body>
    <div class="container">
        <h3 class="text-center p-3">Node Multer Upload Tutorial</h3>
        <div style="margin: 0 auto;border: 2px solid #E95420;border-radius: 5%;" class="col-10 col-md-6 col-lg-5 p-5">
            <% if(typeof err != 'undefined'){ %>
                <h4><%= err %></h4>
                <% } %>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username">Enter Your Name</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <label for="file">Choose A File </label>
                    <input type="file" class="form-control-file" name="file" id="file">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Upload">
                </div>
            </form>
        </div>
        <h3 class="p-5 text-center">Uploaded Files...</h3>
        <div class="container m-3 text-center row">

            <div class="col-4 col-md-4 col-lg-3">
                <% if(typeof data != 'undefined'){ %>                
                <% data.forEach(function(datas, index){ %>
                <p><%= datas.username %></p>
                <a class="btn btn-success" href="<%= datas.fileurl %>" download>Download</a>
                <% }) %>
                <% } %>
            </div>




        </div>
    </div>
</body>

</html>